*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header
{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100px;
    background-color: #fff;
    z-index: 1;
}

.logo h1
{
    position: absolute;
    left: -530px;
    top: -6px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    color: #3B3C3E;
    cursor: pointer;
}

.nav_nemu
{
    position: absolute;
    top: 60px;
    left: 700px;
}

.nav_nemu ul li
{
    display: inline;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    margin-left: 20px;
    color: #3B3C3E;
    transition: .2s;
    cursor: pointer;
}

.nav_nemu:not(:last-child) ul li
{
    margin: 0 auto;
    color: #3B3C3E;
}

.main_container-content
{
    z-index: 10;
}

.nav_nemu ul li:hover
{
    border-bottom: 4px solid #343434;
}

.collection-content
{
    width: 100%;
    height: 774px;
    background-color: rgba(52, 52, 52, 0.99);
}

.collection-img
{
    width: 100%;
    height: 774px;
    background: url(../sourse/img/header-img.png) no-repeat right;
}

.svg_nav
{
    margin-left: 800px;
    margin-top: -63px;
    z-index: 1;
}

.svg-control-nav
{
    display: inline;
}

.svg-control-nav svg
{
    padding: 20px;
    cursor: pointer;
    fill: #3B3C3E;   
}

.svg-control-nav:not(:last-child) svg
{
    border-right: 2px solid #3B3C3E;
}

.txt-collection h1
{
    position: absolute;
    left: 156px;
    top: 250px;
    color: #fff;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 90px;
}

.txt-collection p
{
    position: absolute;
    left: 156px;
    top: 340px;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 52px;    
    width: 24%;
}

.txt-collection span
{
    position: absolute;
    left: 0px;
    top: 50px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
}

.btn
{
    position: absolute;
    width: 337px;
    height: 74px;
    left: 150px;
    top: 450px;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    background-color: rgba(52, 52, 52, 0.99);
    border: 1.8px solid #FFFFFF;
    cursor: pointer;
    transition: .5s;
}

.btn:hover
{
    color: rgba(52, 52, 52, 0.99);
    background-color: #fff;
    border: 1.8px solid rgba(52, 52, 52, 0.99);
    transition: .5s;
}

.container-items
{
    position: absolute;
    top: 1250px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.wapper
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item img
{
    margin: 40px;
    cursor: pointer;
}

.box-bottom
{
    opacity: 0;
    transition: .5s;
}

.item:hover .box-bottom
{
    opacity: 1;
    transition: .5s;
}

.box-bottom
{
    position: absolute;
    top: 410px;
    left: 1100px;
}

.box-top
{
    opacity: 0;
    transition: .5s;
}

.item:hover .box-top
{
    opacity: 1;
    transition: .5s;
}

.style-box
{
    text-align: center;
    width: 430px; 
    height: 160px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
}

.box-top
{
    position: absolute;
    top: 40px;
    left: 40px;
}

.txt-item h4
{
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
}

.txt-item p
{
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 68px;
}

.txt-item span
{
    font-style: normal;
    font-weight: 275;
    font-size: 40px;
    line-height: 60px;
}

.bringiton
{
    position: absolute;
    top: 2150px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.bringiton-img
{
    position: absolute;
    left: -390px;
    transform: translate(-50%,-50%);
}

.bringiton-txt
{
    position: absolute;
    left:200px;
    top: -200px;
}

.bringiton-txt h1
{
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
}

.bringiton-txt p
{
    width: 544px;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 33px;
}

.bringiton-txt a
{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-decoration: none;
    color: #000;
}

.info-product
{
    position: absolute;
    top: 2550px;
}

.items-product
{
    padding: 0;
    margin: -4px;
}

.spekialproduct-wapper
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 100px;
}

.spekialproduct-item img
{
    width: 405px;
    height: 460px;
}

.spekialproduct
{
    margin-top: 3600px;
   
}

.spekialproduct-container
{
    justify-content: center;
    text-align: center;
}


.txt-spekialproduct h1
{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

footer
{
    width: 100%;
    height: 100px;
    margin-top: 50px;
    background-color: #000;
}

footer h1
{
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 45px;
    margin-left: 100px;
    color: #fff;
    padding: 27px;
    cursor: pointer;
}

footer ul li
{
    display: inline;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    color: #c4c4c4;
    padding: 27px;
    cursor: pointer;
}

footer ul
{
    margin-left: 850px;
    margin-top: -70px;
}

.txt-item-spek
{
    text-align: left;
    margin-left: 40px;
}

.txt-item-spek h1
{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.txt-item-spek span
{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.54);
}

.txt-item-spek p
{
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
}
